= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:

      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :permalink
    = f.text_field :permalink
  /.field
  /  = label_tag :tag
  /  = text_field_tag :tag
  .field
    = f.label :raw_body
    = f.text_area :raw_body
  .actions
    = f.submit
