-#
  = link_to 'Home', "/"
  &gt;
  =@post.title

%article
  %header
    %h2= @post.title
    %time{:datetime => @post.created_at, :pubdate => "pubdate"}
      = @post.created_at.strftime("%Y/%m/%d %H:%M")
  .post= raw @post.body.gsub("&lt;", "<").gsub("&gt;", ">")
  %footer
    -#= link_to :Permalink, "/log/#{@post.permalink}"

    = link_to 'Home', "/"
    &gt;
    =@post.title
