- config = Changelog::Application.config
!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "Author", :content => config.author}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:"http-equiv" => "Content-Style-Type", :content => "text/css"}
    %meta{:"http-equiv" => "Content-Script-Type", :content => "text/javascript"}
    = csrf_meta_tag
    - if @post_title.blank?
      %title= config.site_title
    - else
      %title= "#{@post_title} | #{config.site_title}" 
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "720_grid", :media => "screen and (min-width: 720px)"
    = stylesheet_link_tag "986_grid", :media => "screen and (min-width: 986px)"
    = stylesheet_link_tag "1236_grid", :media => "screen and (min-width: 1236px)"
  %body
    %header#logo.global
      %h1
        = link_to config.site_title, "/"
      - if !config.site_description.blank?
        %section
          = config.site_description
    #main
      .grid
        .row
          = yield
    %footer.global
      .grid
        .row
          .slot-0-1
            %h6 Logger
            %figure
              = link_to( image_tag(config.user_icon_url, :alt => "#{config.twitter_userid} の Twitter プロフィール画像"), config.twitter)
          .slot-2-3
            - if !config.another_sites.blank?
              %h6 Links
              %ul#another_site
                - 0.step((config.another_sites.size.to_i - 1), 2) do |i|
                  %li= link_to config.another_sites[i], config.another_sites[i+1]
          .slot-4-5
            %h6 Feed
            %ul#feed
              %li= link_to "RSS 2.0", "/posts.rss"
      &copy; 
      = Time.now.strftime("%Y")
      isitkr.org

  = javascript_include_tag "application"
