- config = Changelog::Application.config
!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "Author", :content => config.author}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:"http-equiv" => "Content-Style-Type", :content => "text/css"}
    %meta{:"http-equiv" => "Content-Script-Type", :content => "text/javascript"}
    = csrf_meta_tag
    - if @post_title.blank?
      %title= config.site_title
    - else
      %title= "#{@post_title} | #{config.site_title}" 
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=IM+Fell+English:regular,italic"
    -# development
      = stylesheet_link_tag "reset_all", "snippet", "jquery.fileupload-ui", "user"
    -# production
    = stylesheet_link_tag "min"
    /[if lt IE 7]
      = stylesheet_link_tag "ie6.css"
  %body#body
    #main
      %header#logo
        %h1
          = link_to config.site_title, "/"
      .g720
        = yield
      %aside.g240
        %nav
          %h6
            Recent logs
          %ul
            - Post.order("id DESC").limit(config.recent_logs).all.each do |post|
              %li= link_to post.title, "/log/#{post.permalink}"
        %h6
          Logger
        %figure
          = link_to( image_tag(config.user_icon_url, :alt => "#{config.twitter_userid} の Twitter プロフィール画像"), config.twitter)
        %ul#another_site
          - 0.step((config.another_sites.size.to_i - 1), 2) do |i|
            %li= link_to config.another_sites[i], config.another_sites[i+1]
      .clear

      %footer
        &copy; 
        = Time.now.strftime("%Y")
        isitkr.org

  -# development
    = javascript_include_tag "jquery.min.js", "rails.js", "jquery.snippet.min.js", "jquery.fileupload-ui.js", "jquery.fileupload.js", "application"
  -# production
  = javascript_include_tag "jquery.min.js", "min"
